*,
html,
body {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #faebd7;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}


.logo {
    width: 50%;
    height: 50%;
}

.su {
    justify-content: center;
    display: flex;
    align-items: center;
}

.su p {
    color: black;
}

.nav {
    height:100%;
}

.struktur {
    background-color: #273036;
    color: white;
    text-align: center;
    padding-top: 55px;
}

.struktur h5 {
    color: black;
}

.struktur h6 {
    color: black;
}

.anggota {
    background-color: #273036;
    color: white;
    text-align: center;
}
.anggota h2 {
    padding-top: 55px;
}

.bungkus {
    width: 60rem;
    justify-content: center;
    display: flex;
    align-items: center;
}


.footer {
    background-color:antiquewhite;
}

.contact a {
    color: black;
    font-size: 30px;

}

.contact p {
    padding-top: 20px;
}

@media screen and (max-width: 720px){
 .logo {
    padding-top: 17%;
    width: 60%;
    height: 60%;
}

.bungkus {
    width: 25rem;
}

 }

